:root {
	--primary-color: #377dff;
	--secondary-color: #e53270;
	--green-color: #4bd800;
}


/** layout.min.css **/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: 'Inter', sans-serif;
}


body.default:before {
	content: " ";
	background: #5e72e4;
	z-index: 1;
	position: fixed;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(332deg, #ffffff 50%, #5e72e4 50%);
	/* background-image: linear-gradient(332deg, #1a1a1a 50%, #5e72e4 50%); */
}


body {
	font-size: 10px;
}


/* -------------------- */
/*---- utility Css ---- */
/* -------------------- */

/* --- All Buttons Css --- */

.btn-outline-warning:hover {
	color: #fff !important;
}

.btn-outline-info:hover {
	color: #fff !important;
}


/* all button and <a> css in page content */

.page-content .btn,
.page-content a,
.btn {
	font-size: 12px;
	border-radius: 2px !important;
}

.radio_filter_btns label.btn.btn-default.custom_active input[type=radio] {
	display: none;
}

a {
	text-decoration: none;
}

/* Font Weight */

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}


/* modal button */

.modal button {
	font-size: 12px !important;
	border-radius: 2px !important;
}

.white_space_fix {
	white-space: nowrap !important;
}



/* ----------------------------- */
/* ---- page-common-header  ---- */
/* ----------------------------- */

.page-header.navbar {
	background-color: #fff !important;
}

.page-common-header .page-header.navbar-fixed-top {
	/* position: fixed;
	top: 0; */
	background: transparent !important;
}

.navbar .header_target_section {
	display: block
}


.page-header-inner .menu-toggler.sidebar-toggler {
	background: transparent;
}

.page-sidebar .sidebar-toggler,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
	margin: 0;
}


.header_target_section .progress {
	width: 280px;
}

.header_target_section .progress {
	line-height: 15px;
	font-size: 10px;
	font-weight: 600;
	background: #ff5722;
	position: relative;
}

span.target {
	position: absolute;
	top: 50%;
	/* right: 10px; */
	margin: auto;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
	font-weight: 500;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -1px;
	width: 100%;
}


.logo-top {
	margin-top: 5px;
	max-width: 150px;
}


.dropdown-menu>li>a {
	padding: 8px 16px;
	color: #6f6f6f;
	display: block;
	font-weight: 300;
	font-size: 14px;
}



/* dropdown-user */

.top-menu .dropdown-user.open .dropdown-menu {
	display: block;
	position: absolute;
	top: 100%;
}


.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu {
	min-width: 138px;
}



.page-header.navbar.navbar-fixed-top,
.page-header.navbar.navbar-static-top {
	z-index: 10;
}


.header_right_part {
	background: #eff5ff;
	width: calc(100% - 275px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 0 15px;
	margin-right: 10px;
}

.page-header-inner {
	flex: 0 0 240px;
	height: 50px;
}

.page-sidebar-closed .page-header-inner {
	flex: 0 0 74px !important;
	overflow: hidden;
}

.page-sidebar-closed .page-header-inner .page-logo {
	width: 63px;
}

.page-sidebar-closed .page-logo>a {
	display: none;
}

.page-sidebar-closed .header_right_part {
	width: calc(100% - 96px);
}

.page-header-inner .page-logo {
	width: 238px;
	padding-left: 20px;
	left: 8px;
	background: #ffffff;
	height: 50px;
	position: fixed;
}

/* --- ENd page-common-header */



/* --------------------------- */
/* --- main_page_container --- */
/* --------------------------- */

.main_page_container {
	/* margin-top: 50px;
	padding-top: 10px; */
	padding-left: 8px;
	padding-right: 8px;
}


/* ----------------------------------- */
/* page-sidebar-wrapper / page-sidebar */
/* ----------------------------------- */

.page-sidebar-wrapper li.nav-item {
	list-style: none;
	width: 220px;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
	/* float: right; */
	/* margin: 19px 0 0 */
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	cursor: pointer;
}


/* -------------------------------------------- */
/* --- page-container / page-content-wraper --- */
/* -------------------------------------------- */

.page-content-wrapper .page-content {
	margin-left: 0;
}

.hide {
	display: none;
}

.page-container .page-content-wrapper .page-content {
	padding: 10px;
}


/*--- Show Modal --- */

.modal.in {
	opacity: 1 !important;
}

.modal.fade .modal-dialog {
	transform: translate(0, -6px) !important;
}


/* protlet box Caption  */

.portlet-title .caption {
	font-size: 16px !important;
}


/* Bar Chart trigger */

.quick-nav-chart {
	margin-right: 70px;
}

.quick-nav-wraper {
	position: fixed;
	z-index: 10103;
	top: 50px;
	right: 10px;
	/* margin-top: -230px; */
	/* pointer-events: none; */
}

.quick-nav-chart img.modal-target {
	width: 40px;
}

.portlet.light {
	padding: 12px 20px 15px;
	background-color: #fff;
}



/* ------------------------------- */
/* table-responsive and table css */
/* -------------------------------  */

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff !important;
}

.table-responsive {
	/* margin-bottom: 0; */
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
	margin: 15px 0;
}

table.table.table_details th,
table.table.table_details td {
	border: 1px solid #e9e9e9 !important;
}

.table:not(.table-sm) td {
	height: 40px !important;
}

.table_details th {
	font-weight: 500 !important;
	background: #f9f9f9;
}


/* Table Icons */

.table tr td a i {
	margin: 3px 5px;
}


/* ----------------------------------- */
/* ---- Forms (lables and inputs) ---- */
/* ----------------------------------- */

.form-control {
	border: 1px solid #cbc9c9;
	height: 36px;
	padding: 4px 4px 4px 11px;
	font-size: 14px;
	color: #2a2727;
	border-radius: 3px;
}

label.control-label {
	font-size: 13px;
	margin-bottom: 3px;
	color: #797070;
}

.form-control::placeholder {
	color: #938f8f;
	font-size: 13px;
	font-weight: 300;
}

select.form-control {
	padding-top: 6px !important;
}

select.form-control option {
	color: #2a2727;
	font-size: 15px;
}

select.form-control:required:invalid {
	color: #938f8f;
	font-size: 13px;
	font-weight: 300;
}

.error {
	margin-bottom: 3px;
	font-weight: 400;
	font-size: 12px;
}


/* edit hotel bookings extra bed */

.without_extra_bed_section .col-md-4,
.extra_bed_section .col-md-4 {
	display: block !important;
}


/* select2 */

.select2 {
	width: 100% !important;
}

.input-group-addon {
	margin: 5px !important;
}


/* Add Call log info */

.view_call_info div#call_log_section {
	/* margin-top: 20px; */
	/* margin-bottom: 20px; */
	background: aliceblue;
	padding: 20px;
}

/* ------------------------------ */
/* End Forms (lables and inputs) */
/* ------------------------------ */



/* ------------------------------------------------ */
/* ---- Add/Edit Packages and Itinerary form Wizard */
/* ------------------------------------------------ */

#itiForm_form .nav li.active {
	margin: 0 auto;
	text-align: center;
}

.form-wizard div#bar {
	left: 0;
}

.form-wizard h3 {
	font-size: 15px;
	font-weight: 500;
}

.form-wizard .steps>li>a.step .desc {
	white-space: nowrap;
}

#itiForm_Frm .btn-group.flight_train_btns input[type="radio"] {
	display: none;
}

.btn-group.flight_train_btns label {
	margin: 0 15px;
}


/* Repeater delete button */

.delete_repeater {
	position: absolute;
	right: 13px;
	top: 0px;
	padding: 10px 12px;
}

.repeater_wrapper input {
	padding-right: 50px;
}

/* ----------------------------------------------------------- */
/* ----- End Add/Edit Packages and Itinerary form Wizard ---- */
/* ----------------------------------------------------------- */


/* --------------------------*/
/* --- page-footer Start --- */
/* ------------------------- */

.footer_text {
	font-size: 30px;
}

.page-footer {
	position: relative;
	z-index: 999;
	background: #eff5fe;
	margin-bottom: 20px;
	width: calc(100% - 288px);
	left: 268px;
	margin-top: 11px;
}

/* ------------------------ */
/* --- End  page-footer --- */
/* ------------------------ */



/* dashboard tabs  */

.panel-heading2 .nav-tabs li {
	margin: 0 10px !important;
}

.badge>a {
	font-size: inherit;
}

.fs-7 {
	font-size: 0.8rem !important;
}


/* -------------------------------------- */
/*------- Media Query Css Start -------- */
/* -------------------------------------- */

@media only screen and (min-width: 992px) {

	/* sidebar-wrapper and page-contaner  */
	.page-sidebar-wrapper {
		flex: 0 0 250px;
		/* margin-top: 30px; */
	}

	.page-container {
		width: calc(100% - 251px);
	}

	.page-sidebar-closed .page-container {
		width: calc(100% - 60px);
		margin-left: 10px;
	}

	.page-sidebar-closed .page-sidebar-wrapper {
		flex: 0 0 60px !important;
	}

	.page-sidebar-closed .sidebar_heading {
		display: none;
	}

	.page-sidebar-menu-closed li.nav-item {
		width: fit-content;
	}

	.page-sidebar-closed .page-sidebar.navbar-collapse.collapse::-webkit-scrollbar {
		width: 3px !important;
	}

	.page-sidebar-closed .page-sidebar,
	.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
		/* width: 60px !important; */
		padding: 0 8px;
	}
}

@media only screen and (max-width: 992px) {
	.page-container {
		width: 100% !important;
	}
}

@media screen and (max-width: 768px) {
	.header_target_section .progress {
		width: 150px;
	}
}

@media (max-width: 992px) {
	table.table.table-bordered.table-sm tr.text-nowrap {
		display: flex;
		flex-wrap: wrap;
	}

	table.table.table-bordered.table-sm tr.text-nowrap th,
	table.table.table-bordered.table-sm tr.text-nowrap td {
		flex: 0 0 50%;
	}

	.table-bordered>:not(caption)>* {
		border-width: 0 1px;
	}

	ul#clickable_steps li {
		display: none;
	}

	ul#clickable_steps li.active {
		display: block;
	}

	.portlet.light {
		padding: 10px;
	}
}

/* -------------------------------------- */
/*------- Media Query Css End -------- */

/* -------------------------------------- */